.App {
  text-align: center;
}

.App-logo {
  /*height: 40vmin;*/
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.my-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button.clock{
  margin: 8px;
  padding: 4px;
  box-shadow: 4px 4px 8px #4e5258;
  border: none;
  border-radius: 2px;
  font-weight: 400;
  font-size: 20pt;
  color: white;
  background-color: #19a0c2
}

div.clock-area{
  border-radius: 4px;
  box-shadow: 4px 4px 8px #323232;
  background-color: #24606f;
  padding: 8px;
  margin: 8px;
}